<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Vamsee.medcom">
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/stat_sys_headset"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Medcom">
        <activity android:name=".report"/>
        <activity android:name=".Service"/>
        <activity android:name=".equipment"/>
        <activity
            android:name=".Medicine"
            android:label="@string/title_activity_medicine"
            android:theme="@style/Theme.Medcom.NoActionBar" />
        <activity
            android:name=".contri_Activity"
            android:label="@string/title_activity_contri"
            android:theme="@style/Theme.Medcom.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>